* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

button {
  padding: 0.5rem;
  border:  0px;
  margin: 5px;
}

.count {
  text-align: center;
  margin-top: 2rem;
}
